@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400;500&family=Open+Sans:ital,wght@1,300&family=Outfit:wght@300&family=Roboto+Slab:wght@500&family=Roboto:wght@400;500&family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');

*{
  font-family: 'M PLUS 2', sans-serif;
}
.App {
  text-align: center;
  
}
:root{
  --backgroundColor:#49a0eb;
  --backgroundhoverColor:black;
  --color:white;
}

.btn{
    background-color:var(--backgroundColor);
    color:var(--color);
    padding: 0.5rem 1.7rem;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
    border-radius: 8px;
}
.btn:hover{
  background-color: var(--backgroundhoverColor)
}

